<h1>Read, "O Prophet", in the Name of your Lord Who Created</h1>
<h2>Quran, 96:1</h2>
<label>Iqra, the arabic word for "Read", inspired me to created this literature app. Iqra allows bookworms, like youself, to view thousands of books; From fiction to non-fiction, from history to science literature. It also allows you to add books you're particularly fond of and add it to your favorites list. A specific book adding such a profound emotional response(or maybe not)? Blog about it. The one stop shop for the Literati.</label>
